<br><br>
      <div class="my-3 p-4 bg-white rounded shadow-sm">
          <div class="row">
          <div class="col-md-6">
    <form [formGroup]="loginForm" class="form-signin">
      <div class="text-center mb-4">
      </div>
       <div class="form-label-group">
        <input type="nom" id="inputNom" class="form-control" placeholder="Name" required="" autofocus="" formControlName="nom">
        <label for="inputNom">Name</label>
      </div>
       <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" formControlName="password">
        <label for="inputPassword">Password</label>
      </div>
       
      <button (click)="login()"class="btn btn-lg btn-dark btn-block" type="submit">Log in</button>
      
    </form>
    <br>
    <div class="form-signin">
       <h6>New user? <a class="nav-link" routerLink='/registre'>create a compte</a></h6>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <img src="../../../assets/image3.jpg">
    </div>
  </div>
  </div>
  </div>
  
  
  